<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Aluguel no ar</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
    </head>
    <body>
        <nav>
            <a href="index.html"> Página inicial </a>
        </nav>
        <style>
            body{
                background-color: rgb(220, 225, 208);
                text-align: center;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-decoration: double;
                font-size: 20px;
            }
            h1{
                color: red;
            }
        </style>
        <h1> <strong>  Nossos contatos </strong> </h1>
        <p> Email </p>
        <p> Whatsapp</p>
        <p> Pombo correio </p>
        <p> Telefone </p>
      
    </body>
</html>