<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Aluguel no ar</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
    </head>
    <body>
        <style>
            body{
                background-color: rgb(220, 225, 208);
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                text-decoration-color: red;
                text-decoration: double;
                font-size: 40px;
                
                                   
            }

            h1{
                color: red;
            }

        </style>
        <h1> <strong>  ALUGUEL NO AR </strong> </h1>
        <h2> Seu lugar para encontrar uma casa ou apartamento ideal para alugar.</h2>
        <h3>  Bem vindo! </h3>
        <a href="http://127.0.0.1:5000/login"> LOGIN </a> |
        <a href="http://127.0.0.1:5000/contatos"> CONTATOS </a>
      
        
    </body>
</html>