<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">

    </head>
    <body>
        <nav>
            <a href="index.html "> Página inicial </a>  |
            <a href="contatos.html"> Contatos </a>
        </nav>

        <form action ="/login" method = "POST">
            <p><input type="text" name="username" size="40px" placeholder="Insira seu nome..."></p>
            <p><input type="password" name="password" size="40px" placeholder="Insira sua senha.."></p>
            <p><button type="submit"> Enviar </button> </p>
        </form>

        <style>
            body{
                text-align: center;
                font-size: 40px;
                background-color: rgb(220, 225, 208);
                font-family: Arial, Helvetica, sans-serif;

            }

            
        </style>
        
    </body>
</html>